:root {
  --background-color: #1c1e29;
  --text-color: #fff;
  --input-output-color: #282a36;
  --border-color: whitesmoke;
  --logo-color: #1c1e29;
}

.homePageWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.formWrapper {
  background: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

footer {
  position: fixed;
  bottom: 0;
}

footer a {
  text-decoration: none;
  color: #4aed88;
  transition: all 0.3s ease-in-out;
}



.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLabel {
  margin-bottom: 20px;
  margin-top: 0;
}

.homePageLogo {
  height: 80px;
  margin-bottom: 30px;
}

.inputBox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.copyBtn {
  background: white;
  border: 1px solid var(--border-color);
}

.joinBtn,
.leaveBtn {
  background: #4aed88;
  width: 100px;
  margin-left: auto;
}

.joinBtn:hover,
.leaveBtn:hover {
  background-color: #2b824c;
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn {
  color: #4aed88;
  text-decoration: none;
  border-bottom: 1px solid #4aed88;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover,
footer a:hover {
  color: #2b824c;
  border-color: #2b824c;
}

.mainWrap {
  display: grid;
  grid-template-columns: 2fr 6.5fr 3.5fr;
  height: 100vh;
  overflow: hidden;
}

.aside {
  background: var(--background-color);
  padding: 16px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border-color);
}

.editorWrap {
  overflow-x: auto;
  border-right: 1px solid var(--border-color);
}

.asideInner {
  flex: 1;
}

.clientList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.username {
  margin-top: 10px;
}

.logo {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
  background: var(--logo-color);
}

.logoImage {
  height: 60px;
}

.leaveBtn {
  margin-top: 20px;
  width: 100%;
}

.CodeMirror {
  min-height: 92vh;
  font-size: 20px;
  line-height: 1.6;
}

.navbar {
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--text-color);
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
}

.fontSizeSelect {
  display: flex;
  align-items: center;
}

.InputOutput {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
}

.input {
  background-color: var(--background-color);
  width: 100%;
  height: 50vh;
  border-bottom: 1px solid var(--border-color);
}

.output {
  background-color: var(--background-color);
  width: 100%;
  height: 50vh;
}

.inputHead,
.outputHead {
  display: flex;
  justify-content: center;
  height: 65px;
}

.inputText {
  display: flex;
  height: 40vh;
}

.outputText {
  display: flex;
  height: 42vh;
}

.inputText textarea,
.outputText textarea {
  width: 100%;
  background-color: var(--input-output-color);
  border: var(--background-color);
  color: var(--text-color);
  font-size: large;
}

.runBtn {
  position: absolute;
  bottom: 20px;
  right: 30vw;
  width: 75px;
  background-color: #4aed88;
  color: black;
  border: 1px solid var(--border-color);
}

.clearBtn {
  position: absolute;
  bottom: 22px;
  right: 1.5vw;
  width: 70px;
  color: black;
  text-align: center;
  border: 1px solid var(--border-color);
}